.pagenum {
  background-color: #fff;
  color: #f06c00;
  width: 30px;
  height: 30px;
  border: 1px solid #f06c00;
  border-radius: 2px;
  padding: 7px;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 0;
}

.activePage {
  background-color: #f06c00;
  color: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid #f06c00;
  border-radius: 2px;
  padding: 7px;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pageLabel {
  margin-right: 8px;
}
